////////////////////reset//////////////
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border:1px solid black;
}

.container{
  width: 1170px;
}
 .p0{
  padding: 0;
  
 }

 .header-main{
  background-image: url(../img/steak-2.jpg);
  background-size: 100% 100%;
  height: 800px;

  & .header-content{
   display: flex;
    & .header-content-wrapper{
      margin: auto;
      color: #fff;
      height: 200px;
      width: 300px;
    }
  }

   & .menu-top{
   
    width: 100%;
       

    & .navbar{
      padding: 0;
      margin: 0;
      height: 100%;
      background-color:rgba(0,0,0,0.5);
      border: 0px;

      & .navbar-brand{
        height: 100%;
        line-height: 60px;
        color: #fff;
      }
    }

    & .menu-list{
      list-style-type: none;

      & .menu-item{
        display: inline-block;
        //height: 100%;

        & .menu-link{
          text-decoration: none;
          line-height: 90px;
          height: 100%;
          color: #fff;
          display: block;
          font-size: 20px;
        }
      }
    }
  }
 }


