////////////////////reset//////////////
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  width: 1170px;
}


.header{



  & .info-string{
    height: 29px;
    background-color: #e4bb7a;
  }
  
}